Test/EnrichDB.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "838c5508-e312-3471-9065-01d361c58300" : {
          "identifier" : "838c5508-e312-3471-9065-01d361c58300",
          "name" : "AvroReader"
        },
        "70912760-1246-3442-bc4b-fd66dff80a50" : {
          "identifier" : "70912760-1246-3442-bc4b-fd66dff80a50",
          "name" : "Enrich - DatabaseRecordLookupService"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "25ba69f5-c12b-3938-8476-9bac01fad882",
            "id" : "3953ae29-4202-37ff-8e36-7f729160f76c",
            "instanceIdentifier" : "9df7f7ce-018d-1000-3b80-4ee7ea6fe6a7",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "25ba69f5-c12b-3938-8476-9bac01fad882",
          "identifier" : "60f508a2-937d-31e0-a9a1-fdab87d0f0da",
          "instanceIdentifier" : "a1f1fa09-018d-1000-0a78-92a68da1d79e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success", "failure", "retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "25ba69f5-c12b-3938-8476-9bac01fad882",
            "id" : "dde7360e-5a8c-3438-a183-97ad9815f5f0",
            "instanceIdentifier" : "a1f18928-018d-1000-80ce-2079d8c6433a",
            "name" : "PutDatabaseRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "25ba69f5-c12b-3938-8476-9bac01fad882",
            "id" : "f028a1f8-0564-3cdd-859a-6d791d639813",
            "instanceIdentifier" : "f0fc70c2-059c-314a-3739-26b3dbe179bc",
            "name" : "LookupRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "25ba69f5-c12b-3938-8476-9bac01fad882",
          "identifier" : "f395d62c-d57b-3912-9aed-8c33accdb2df",
          "instanceIdentifier" : "406e08cb-27ee-33e2-242a-ef66a2fe432f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "25ba69f5-c12b-3938-8476-9bac01fad882",
            "id" : "9d42bed9-9e48-3579-ba23-82eb41526ba9",
            "instanceIdentifier" : "2ab0028c-c64f-3132-7208-bc3df2af1de7",
            "name" : "QueryDatabaseTable",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "25ba69f5-c12b-3938-8476-9bac01fad882",
            "id" : "3953ae29-4202-37ff-8e36-7f729160f76c",
            "instanceIdentifier" : "9df7f7ce-018d-1000-3b80-4ee7ea6fe6a7",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "25ba69f5-c12b-3938-8476-9bac01fad882",
          "identifier" : "32a316c9-5b47-38a1-9d1a-43a5888c52ef",
          "instanceIdentifier" : "9df825c0-018d-1000-1aa7-090eaeb2fc95",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "25ba69f5-c12b-3938-8476-9bac01fad882",
            "id" : "f028a1f8-0564-3cdd-859a-6d791d639813",
            "instanceIdentifier" : "f0fc70c2-059c-314a-3739-26b3dbe179bc",
            "name" : "LookupRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "25ba69f5-c12b-3938-8476-9bac01fad882",
            "id" : "dde7360e-5a8c-3438-a183-97ad9815f5f0",
            "instanceIdentifier" : "a1f18928-018d-1000-80ce-2079d8c6433a",
            "name" : "PutDatabaseRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "25ba69f5-c12b-3938-8476-9bac01fad882",
          "identifier" : "b402451b-e0c2-34fd-acc0-0b6839f1b92a",
          "instanceIdentifier" : "a1d0b083-018d-1000-fc45-bc78091f59be",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success", "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "25ba69f5-c12b-3938-8476-9bac01fad882",
            "id" : "b045975f-37a5-3b2d-906e-7392e973ddbb",
            "instanceIdentifier" : "a1d02260-018d-1000-173e-59fcef2e35db",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "25ba69f5-c12b-3938-8476-9bac01fad882",
            "id" : "b045975f-37a5-3b2d-906e-7392e973ddbb",
            "instanceIdentifier" : "a1d02260-018d-1000-173e-59fcef2e35db",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "25ba69f5-c12b-3938-8476-9bac01fad882",
          "identifier" : "0aca3f92-60a5-33d7-affc-8916d4018f24",
          "instanceIdentifier" : "a1d06378-018d-1000-fb42-ec97796347d7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "25ba69f5-c12b-3938-8476-9bac01fad882",
            "id" : "f028a1f8-0564-3cdd-859a-6d791d639813",
            "instanceIdentifier" : "f0fc70c2-059c-314a-3739-26b3dbe179bc",
            "name" : "LookupRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "25ba69f5-c12b-3938-8476-9bac01fad882",
          "identifier" : "a0378bc0-98d7-311d-8c4d-dd17c955d362",
          "instanceIdentifier" : "9dfebaf4-018d-1000-85ca-70ae805f01bf",
          "name" : "JsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "25ba69f5-c12b-3938-8476-9bac01fad882",
          "identifier" : "9e6991ff-0df1-3967-a03d-a2d1708f12d2",
          "instanceIdentifier" : "a1f24c75-018d-1000-e7ca-806515bf8e35",
          "name" : "JsonTreeReader",
          "properties" : {
            "Max String Length" : "20 MB",
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}",
            "Allow Comments" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Allow Comments" : {
              "displayName" : "Allow Comments",
              "identifiesControllerService" : false,
              "name" : "Allow Comments",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-dbcp-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.dbcp.DBCPService"
          } ],
          "groupIdentifier" : "25ba69f5-c12b-3938-8476-9bac01fad882",
          "identifier" : "0aa85d3a-290b-3f8f-8b8f-53dd8dbe0491",
          "instanceIdentifier" : "a1f51946-018d-1000-59a5-ab6a93c67b7f",
          "name" : "Destination - DBCPConnectionPool",
          "properties" : {
            "dbcp-min-idle-conns" : "0",
            "Max Wait Time" : "500 millis",
            "Database Driver Class Name" : "org.postgresql.Driver",
            "dbcp-min-evictable-idle-time" : "30 mins",
            "Max Total Connections" : "8",
            "dbcp-max-conn-lifetime" : "-1",
            "Database Connection URL" : "jdbc:postgresql://localhost:5432/destination",
            "dbcp-time-between-eviction-runs" : "-1",
            "Database User" : "postgres",
            "dbcp-soft-min-evictable-idle-time" : "-1",
            "dbcp-max-idle-conns" : "8"
          },
          "propertyDescriptors" : {
            "kerberos-password" : {
              "displayName" : "Kerberos Password",
              "identifiesControllerService" : false,
              "name" : "kerberos-password",
              "sensitive" : true
            },
            "dbcp-min-idle-conns" : {
              "displayName" : "Minimum Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-idle-conns",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Driver Class Name" : {
              "displayName" : "Database Driver Class Name",
              "identifiesControllerService" : false,
              "name" : "Database Driver Class Name",
              "sensitive" : false
            },
            "dbcp-min-evictable-idle-time" : {
              "displayName" : "Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-evictable-idle-time",
              "sensitive" : false
            },
            "kerberos-principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "kerberos-principal",
              "sensitive" : false
            },
            "Max Total Connections" : {
              "displayName" : "Max Total Connections",
              "identifiesControllerService" : false,
              "name" : "Max Total Connections",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "dbcp-max-conn-lifetime" : {
              "displayName" : "Max Connection Lifetime",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-conn-lifetime",
              "sensitive" : false
            },
            "Validation-query" : {
              "displayName" : "Validation query",
              "identifiesControllerService" : false,
              "name" : "Validation-query",
              "sensitive" : false
            },
            "Database Connection URL" : {
              "displayName" : "Database Connection URL",
              "identifiesControllerService" : false,
              "name" : "Database Connection URL",
              "sensitive" : false
            },
            "dbcp-time-between-eviction-runs" : {
              "displayName" : "Time Between Eviction Runs",
              "identifiesControllerService" : false,
              "name" : "dbcp-time-between-eviction-runs",
              "sensitive" : false
            },
            "Database User" : {
              "displayName" : "Database User",
              "identifiesControllerService" : false,
              "name" : "Database User",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "dbcp-soft-min-evictable-idle-time" : {
              "displayName" : "Soft Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-soft-min-evictable-idle-time",
              "sensitive" : false
            },
            "database-driver-locations" : {
              "displayName" : "Database Driver Location(s)",
              "identifiesControllerService" : false,
              "name" : "database-driver-locations",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "URL", "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "dbcp-max-idle-conns" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-idle-conns",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "25ba69f5-c12b-3938-8476-9bac01fad882",
          "identifier" : "3953ae29-4202-37ff-8e36-7f729160f76c",
          "instanceIdentifier" : "9df7f7ce-018d-1000-3b80-4ee7ea6fe6a7",
          "position" : {
            "x" : -920.0,
            "y" : -472.0
          }
        } ],
        "identifier" : "25ba69f5-c12b-3938-8476-9bac01fad882",
        "inputPorts" : [ ],
        "instanceIdentifier" : "9ded083c-018d-1000-5a21-a2e12ea5c3b1",
        "labels" : [ ],
        "logFileSuffix" : "",
        "name" : "Enrich DB",
        "outputPorts" : [ ],
        "parameterContextName" : "DB",
        "position" : {
          "x" : 600.0,
          "y" : 304.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "PRIMARY",
          "groupIdentifier" : "25ba69f5-c12b-3938-8476-9bac01fad882",
          "identifier" : "9d42bed9-9e48-3579-ba23-82eb41526ba9",
          "instanceIdentifier" : "2ab0028c-c64f-3132-7208-bc3df2af1de7",
          "maxBackoffPeriod" : "10 mins",
          "name" : "QueryDatabaseTable",
          "penaltyDuration" : "10 sec",
          "position" : {
            "x" : -1416.0,
            "y" : -800.0
          },
          "properties" : {
            "Table Name" : "utilisateur",
            "db-fetch-db-type" : "Generic",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "#{From BD Conneciton Pool}",
            "dbf-user-logical-types" : "false",
            "qdbt-output-batch-size" : "0",
            "qdbt-max-rows" : "100",
            "qdbt-max-frags" : "0",
            "dbf-default-scale" : "0",
            "initial-load-strategy" : "Start at Beginning",
            "Fetch Size" : "100",
            "Columns to Return" : "login,fullname,country_code",
            "dbf-normalize" : "false"
          },
          "propertyDescriptors" : {
            "Table Name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "db-fetch-db-type" : {
              "displayName" : "Database Type",
              "identifiesControllerService" : false,
              "name" : "db-fetch-db-type",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Maximum-value Columns" : {
              "displayName" : "Maximum-value Columns",
              "identifiesControllerService" : false,
              "name" : "Maximum-value Columns",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "qdbt-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "qdbt-output-batch-size",
              "sensitive" : false
            },
            "qdbt-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "qdbt-max-rows",
              "sensitive" : false
            },
            "qdbt-max-frags" : {
              "displayName" : "Maximum Number of Fragments",
              "identifiesControllerService" : false,
              "name" : "qdbt-max-frags",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "initial-load-strategy" : {
              "displayName" : "Initial Load Strategy",
              "identifiesControllerService" : false,
              "name" : "initial-load-strategy",
              "sensitive" : false
            },
            "Fetch Size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "Fetch Size",
              "sensitive" : false
            },
            "db-fetch-sql-query" : {
              "displayName" : "Custom Query",
              "identifiesControllerService" : false,
              "name" : "db-fetch-sql-query",
              "sensitive" : false
            },
            "Columns to Return" : {
              "displayName" : "Columns to Return",
              "identifiesControllerService" : false,
              "name" : "Columns to Return",
              "sensitive" : false
            },
            "db-fetch-where-clause" : {
              "displayName" : "Additional WHERE clause",
              "identifiesControllerService" : false,
              "name" : "db-fetch-where-clause",
              "sensitive" : false
            },
            "dbf-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "dbf-normalize",
              "sensitive" : false
            },
            "transaction-isolation-level" : {
              "displayName" : "Transaction Isolation Level",
              "identifiesControllerService" : false,
              "name" : "transaction-isolation-level",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "15 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.QueryDatabaseTable",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "25ba69f5-c12b-3938-8476-9bac01fad882",
          "identifier" : "dde7360e-5a8c-3438-a183-97ad9815f5f0",
          "instanceIdentifier" : "a1f18928-018d-1000-80ce-2079d8c6433a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutDatabaseRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -728.0,
            "y" : -256.0
          },
          "properties" : {
            "put-db-record-allow-multiple-statements" : "false",
            "table-schema-cache-size" : "100",
            "put-db-record-quoted-table-identifiers" : "false",
            "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
            "put-db-record-translate-field-names" : "true",
            "put-db-record-dcbp-service" : "0aa85d3a-290b-3f8f-8b8f-53dd8dbe0491",
            "put-db-record-query-timeout" : "0 seconds",
            "rollback-on-failure" : "false",
            "put-db-record-statement-type" : "UPSERT",
            "db-type" : "PostgreSQL",
            "put-db-record-update-keys" : "login",
            "put-db-record-quoted-identifiers" : "false",
            "put-db-record-table-name" : "user_country",
            "put-db-record-unmatched-field-behavior" : "Ignore Unmatched Fields",
            "put-db-record-max-batch-size" : "1000",
            "put-db-record-record-reader" : "9e6991ff-0df1-3967-a03d-a2d1708f12d2"
          },
          "propertyDescriptors" : {
            "put-db-record-allow-multiple-statements" : {
              "displayName" : "Allow Multiple SQL Statements",
              "identifiesControllerService" : false,
              "name" : "put-db-record-allow-multiple-statements",
              "sensitive" : false
            },
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "put-db-record-schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-schema-name",
              "sensitive" : false
            },
            "put-db-record-field-containing-sql" : {
              "displayName" : "Field Containing SQL",
              "identifiesControllerService" : false,
              "name" : "put-db-record-field-containing-sql",
              "sensitive" : false
            },
            "put-db-record-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-table-identifiers",
              "sensitive" : false
            },
            "Statement Type Record Path" : {
              "displayName" : "Statement Type Record Path",
              "identifiesControllerService" : false,
              "name" : "Statement Type Record Path",
              "sensitive" : false
            },
            "put-db-record-unmatched-column-behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-column-behavior",
              "sensitive" : false
            },
            "put-db-record-catalog-name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-catalog-name",
              "sensitive" : false
            },
            "put-db-record-translate-field-names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "put-db-record-translate-field-names",
              "sensitive" : false
            },
            "put-db-record-dcbp-service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "put-db-record-dcbp-service",
              "sensitive" : false
            },
            "put-db-record-query-timeout" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "put-db-record-query-timeout",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            },
            "put-db-record-statement-type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "put-db-record-statement-type",
              "sensitive" : false
            },
            "db-type" : {
              "displayName" : "Database Type",
              "identifiesControllerService" : false,
              "name" : "db-type",
              "sensitive" : false
            },
            "put-db-record-update-keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "put-db-record-update-keys",
              "sensitive" : false
            },
            "put-db-record-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-identifiers",
              "sensitive" : false
            },
            "put-db-record-table-name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-table-name",
              "sensitive" : false
            },
            "put-db-record-unmatched-field-behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-field-behavior",
              "sensitive" : false
            },
            "put-db-record-max-batch-size" : {
              "displayName" : "Maximum Batch Size",
              "identifiesControllerService" : false,
              "name" : "put-db-record-max-batch-size",
              "sensitive" : false
            },
            "put-db-record-record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "put-db-record-record-reader",
              "sensitive" : false
            },
            "Data Record Path" : {
              "displayName" : "Data Record Path",
              "identifiesControllerService" : false,
              "name" : "Data Record Path",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "25ba69f5-c12b-3938-8476-9bac01fad882",
          "identifier" : "f028a1f8-0564-3cdd-859a-6d791d639813",
          "instanceIdentifier" : "f0fc70c2-059c-314a-3739-26b3dbe179bc",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LookupRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1640.0,
            "y" : -528.0
          },
          "properties" : {
            "result-contents" : "insert-entire-record",
            "routing-strategy" : "route-to-matched-unmatched",
            "record-path-lookup-miss-result-cache-size" : "0",
            "result-record-path" : "/country_name",
            "record-writer" : "a0378bc0-98d7-311d-8c4d-dd17c955d362",
            "record-reader" : "838c5508-e312-3471-9065-01d361c58300",
            "lookup-service" : "70912760-1246-3442-bc4b-fd66dff80a50",
            "record-update-strategy" : "use-property",
            "key" : "/country_code"
          },
          "propertyDescriptors" : {
            "result-contents" : {
              "displayName" : "Record Result Contents",
              "identifiesControllerService" : false,
              "name" : "result-contents",
              "sensitive" : false
            },
            "routing-strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "routing-strategy",
              "sensitive" : false
            },
            "record-path-lookup-miss-result-cache-size" : {
              "displayName" : "Cache Size",
              "identifiesControllerService" : false,
              "name" : "record-path-lookup-miss-result-cache-size",
              "sensitive" : false
            },
            "result-record-path" : {
              "displayName" : "Result RecordPath",
              "identifiesControllerService" : false,
              "name" : "result-record-path",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "lookup-service" : {
              "displayName" : "Lookup Service",
              "identifiesControllerService" : true,
              "name" : "lookup-service",
              "sensitive" : false
            },
            "record-update-strategy" : {
              "displayName" : "Record Update Strategy",
              "identifiesControllerService" : false,
              "name" : "record-update-strategy",
              "sensitive" : false
            },
            "key" : {
              "displayName" : "key",
              "identifiesControllerService" : false,
              "name" : "key",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LookupRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "25ba69f5-c12b-3938-8476-9bac01fad882",
          "identifier" : "b045975f-37a5-3b2d-906e-7392e973ddbb",
          "instanceIdentifier" : "a1d02260-018d-1000-173e-59fcef2e35db",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1640.0,
            "y" : -280.0
          },
          "properties" : {
            "jolt-spec" : "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"login\": \"[&1].login\",\n        \"@country_name.name\": \"[&1].country\"\n      }\n    }\n  }\n]\n",
            "jolt-transform" : "jolt-transform-chain",
            "Max String Length" : "20 MB",
            "pretty_print" : "false",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE", "TEXT" ]
              },
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "DB" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "DB",
          "parameters" : [ {
            "description" : "",
            "name" : "postgresql-port",
            "provided" : false,
            "sensitive" : false,
            "value" : "5432"
          }, {
            "description" : "",
            "name" : "postgresql-url",
            "provided" : false,
            "sensitive" : false,
            "value" : "localhost"
          }, {
            "description" : "",
            "name" : "From BD Conneciton Pool",
            "provided" : false,
            "sensitive" : false,
            "value" : "e36bc941-8bc4-31d0-923a-e50652c1361f"
          } ]
        }
      },
      "parameterProviders" : { }
    }
  }
}